.regular-h2 {
    font-family: var(--main-font);
    font-size: clamp(25px, 1.7vw, 50px);
    color: var(--color-4);
    padding-bottom: 15px;
    margin-top: 15px;
}

.projects-accordion {
    width: 50%;
}

.project-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

#accordion-item {
    border: none;
    background-color: var(--color-2);
}

.accordion-body {
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
}

.project-status-p {
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    color: var(--color-2)
}

.not-started-status {
    background-color: rgb(169, 67, 67);
}

.in-progress-status {
    background-color: var(--color-4);
}

.completed-status {
    background-color: rgb(27, 92, 27);
}

.accordion-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
    box-shadow: none;
    border: none;
    list-style: none;
}

.buttons-accordion {
    display: flex;
    justify-content: center;
}

.accordion-header .accordion-button.collapsed {
    box-shadow: none; 
    background-color: var(--color-1);
    color: var(--color-2);
    font-weight: 600;
}

.accordion-header .accordion-button:not(.collapsed) {
    background-color: var(--color-1);
    color: var(--color-2);
    border: none;
    box-shadow: none; 
    font-weight: 600;
}

.header-title {
    margin-left: 25px;
}
.accordion-header .accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-header .accordion-button.collapsed::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


.accordion-delete-button {
    padding: 10px;
    border-style: none;
    background-color: var(--color-2);
    color: var(--color-4);
    font-weight: 700;
    font-family: var(--main-font);
    font-size: 14px;
    cursor: pointer;
    margin-left: 50px;
}

.accordion-delete-button:hover {
    color: var(--color-1);
}

.accordion-edit-button {
    padding: 10px;
    border-style: none;
    background-color: var(--color-2);
    color: var(--color-4);
    font-weight: 700;
    font-family: var(--main-font);
    font-size: 14px;
    cursor: pointer;
}

.accordion-edit-button:hover {
    color: var(--color-1);
}

@media screen and (max-width: 910px) {
    .projects-accordion {
        width: 100%;
    }
    
}

