@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

:root {
  --main-font: "Nunito", sans-serif;
  --title-font: "Ephesis", sans-serif;
  --color-1: #748cab;
  --color-2: #e2eafc;
  --color-3: #cae9ff;
  --color-4: #3e5c76;
}